# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Testing
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# Environment Variables
.env
.env.*
!.env.example
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
